@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #341C1C;
    color: #FCFCFC;
}
h1{
    font-family: "Playwrite US Trad Guides", cursive;
    font-weight: bolder;
    font-size: 50px;
    /* font-style: normal; */
    text-align: center;
    text-shadow: 2px 2px #72A276;
}

#container{
    width: 90%;
    margin: 0 auto ;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

#jollof_image{
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    img{
        width: 100%;
        height: 100vh;
        border-radius: 10px;
        border: 5px solid #72A276;
    }
}

#introWords{
    grid-column-start: 1;
    grid-column-end: 3; 
    margin: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #597081;
    padding: 10px;
    border: 5px solid #548687;
    border-radius: 10px;
}
#ingredients{
    grid-column-start: 3;
    grid-column-end: 5; 
    margin: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
     background-color: #548687;
     padding: 10px;
     border: 5px solid #597081;
     border-radius: 10px;
}
#cooking_steps{
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #72A276;
    padding: 10px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    .foodSteps{
        text-decoration: underline;
        font-weight: 600;
        text-shadow: 1px 1px black;
        padding: 5px;
    }
}